{{> header}}

(load-file "{{solution-filename}}.el")
{{#functions}}
(declare-function {{function-name}} "{{solution-filename}}.el" ({{function-parameters}}))
{{/functions}}


{{#tests}}


(defun {{test-name}} ()
  ;; Input: {{{input}}}
  ;; Expected: {{{expected}}}
  (error "Delete this S-Expression and implement the test"))
{{/tests}}


{{> footer}}
