name: emacs-lisp / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - uses: purcell/setup-emacs@ac5a5667ef01c598f55e66e0b0abdad5d825daf8
        with:
          version: 28.2

      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Run exercism/emacs-lisp ci (runs tests) for all exercises
        run: |
          bash bin/stub-check
          bash bin/test-examples
