name: emacs-lisp / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: purcell/setup-emacs@7a92187aa5b5a3b854cbdfa47499fbd3d1207163
        with:
          version: 30.1

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.0.0

      - name: Run exercism/emacs-lisp ci (runs tests) for all exercises
        run: |
          bash bin/stub-check
          bash bin/test-examples
